option_settings:
    aws:elasticbeanstalk:application:environment:
        PORT: 3000
        NODE-ENV: production
        TESTING: I Love Javascript
    aws:ec2:vpc:
        VPCId: vpc-03a0eae9763c004eb
        ELBSubnets: subnet-0dfa72823b038dbd6,subnet-03e08c794ccc9c132,subnet-0a9a9cd17d4f3cfcb
        Subnets: subnet-04d20b9429fab3743,subnet-0cc51d7960a5a8b14,subnet-0f205d33ba92eccf7